<!DOCTYPE html>
<html>
<head>
  <title>Study Room Booking</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1>List of Study Rooms</h1>
  <table>
    <tr>
      <th>Room</th>
      <th>Morning</th>
      <th>Afternoon</th>
      <th>Evening</th>
    </tr>
  </table>
  <h2>Cancel All Bookings</h2>
  <form action="/cancel-bookings" method="post">
    <button type="submit" class="cancel-btn">Cancel All Bookings</button>
  </form>
  <script src="/loadData.js"></script>
</body>
</html>
